[class*="highlight_col"] {
    background-color: coral !important;
}

[class*="highlight_depth"] {
    background-color: #00c3e2 !important;    
}

.highlight_pagination {
    background-color: #FF6961 !important;
    z-index: 99999;
}

/*
.highlight_col-0 {
    background-color: coral !important;
}

.highlight_depth-0 {
    background-color: #77DD75 !important;
} */
