<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div id="header_wrapper">
        <div class="header_logo">
            <img src="icons/logo.png" class="logo_img">
        </div>
        <div class="title" id="main_title">
            <p>Extractify</p>
        </div>
        <div id="header_button_wrapper"></div>
    </div>

    <div id="tabs" style="display:none">
        <ul id="levels_tabs"></ul>
    </div>

    <div id="select_deeper_links_wrapper" title="Create new level" style="display:none">
        <p class="validateTips">If you are thinking of finding navigation links on the next level, find a page that contains navigation links !</p>
        <form width="90%"><select size="1" name="deeper_links" id="select_deeper_links_form" class="text ui-widget-content ui-corner-all"></select></form>
    </div>

    <div id="level_type_select_wrapper" title="Select a level type" style="display:none;">
        <form width="90%" class="select_level_type_form">
            <label for="level_type">Level type * :</label><br /><br />
            <input type="text" name="level_type" id="level_type" class="text ui-widget-content ui-corner-all">
        </form>
    </div>

    <div id="select_content_dialog_wrapper" title="Select a content" style="display:none;">
    </div>

    <div id="add_row_wrapper" title="Add row" style="display:none;">
        <form width="90%" class="add_row_form">
            <label for="row_tag_class">Selector : </label><br /><br />
            <input type="text" name="row_tag_class" id="row_tag_class" class="text ui-widget-content ui-corner-all">
        </form>
    </div>

    <div id="add_col_wrapper" title="Add column" style="display:none;">
        <form width="90%" class="add_col_form">
            <label for="col_title">Title * :</label><br />
            <input type="text" name="col_title" id="col_title" class="text ui-widget-content ui-corner-all">
            <br /><br />
            <label for="col_tag_class">Selector : </label><br />
            <input type="text" name="col_tag_class" id="col_tag_class" class="text ui-widget-content ui-corner-all">
        </form>
    </div>

    <div id="add_depth_wrapper" title="Add deeper links" style="display:none;">
        <form width="90%" class="add_depth_form">
            <label for="depth_tag_class">Selector : </label><br /><br />
            <input type="text" name="depth_tag_class" id="depth_tag_class" class="text ui-widget-content ui-corner-all">
        </form>
    </div>

    <div id="add_pagination_wrapper" title="Add a pagination" style="display:none;">
        <form width="90%" class="add_pagination_form">
            <label for="pagination_tag_class">Selector : </label><br /><br />
            <input type="text" name="pagination_tag_class" id="pagination_tag_class" class="text ui-widget-content ui-corner-all">
        </form>
    </div>

    <!-- <div id="add_custom_pagination_wrapper" title="Add a custom pagination" style="display:none;">
        <form width="90%" class="add_custom_pagination_form">
            <label for="pagination_constantUrl" class="custom_pagination_label">ConstantUrl :</label>
            <input type="text" name="pagination_constantUrl" id="pagination_constantUrl" class="text ui-widget-content ui-corner-all"><br /><br />
            <label for="pagination_step" class="custom_pagination_label">Step :</label>
            <input type="text" name="pagination_step" id="pagination_step" class="text ui-widget-content ui-corner-all">
        </form>
    </div> -->

    <div id="add_custom_pagination_wrapper" title="Add a custom pagination" style="display:none;">
        <form width="90%" class="add_custom_pagination_form">
            <label for="pagination_constantUrl" class="add_custom_pagination_label">Constant url :</label>
            <input type="text" name="add_custom_pagination_constantUrl" id="add_custom_pagination_constantUrl" class="text ui-widget-content ui-corner-all" style="width:170px;"><br/><br/>
            <label for="pagination_start" class="add_custom_pagination_label">Start :</label>
            <input type="text" name="add_custom_pagination_start" id="add_custom_pagination_start" class="text ui-widget-content ui-corner-all"><br/><br/>
            <label for="pagination_step" class="add_custom_pagination_label">Step :</label>
            <input type="text" name="add_custom_pagination_step" id="add_custom_pagination_step" class="text ui-widget-content ui-corner-all"><br/><br/>
            <label for="pagination_stop" class="add_custom_pagination_label">Stop :</label>
            <input type="text" name="add_custom_pagination_stop" id="add_custom_pagination_stop" class="text ui-widget-content ui-corner-all">
        </form>
    </div>

    <div id="scraping_results_wrapper" title="Scraping" style="display:none" class="scraping_result">
        <p><br />Scraped elements :<br /></p>
        <div id="nbr_of_scraped_objects"></div>
        <div id="scraping_done"></div>
    </div>

    <div id="options_select_wrapper" title="Options" style="display:none;">
        <form width="90%" class="options_select_form" id="options_form">
            <div class="options_panel_left_col">
                <label>Scraping options</label>
            </div>
            <div class="options_panel_left_col">
                <label for="request_latency" class="option_label">Request latency (ms) :</label>
            </div>
            <div class="options_panel_right_col">
                <input type="text" name="option" id="request_latency_input" value="0" placeholder="0" class="text ui-widget-content ui-corner-all">
            </div>
            <div class="options_panel_left_col">
                <label for="scraping_page_in_own_tab" class="option_label">Scrap pages in its own tab :</label>
            </div>
            <div class="options_panel_right_col">
                <label class="switch">
                    <input type="checkbox" id="scraping_page_in_own_tab_input" name="option" value="false">
                    <span class="slider round" id="scraping_page_in_own_tab_span"></span>
                </label>
            </div>
        </form>
    </div>
    <script src="libs/jquery.js"></script>
    <script src="libs/jquery-ui.js"></script>
    <script src="../globals.js"></script>
    <script src="../../shared/shared.js"></script>
    <script src="../lang/en-lang.js"></script>
    <script src="../models/models.js"></script>
    <script src="../controllers/levels.js"></script>
    <script src="../controllers/level.js"></script>
    <script src="../controllers/row.js"></script>
    <script src="../controllers/col.js"></script>
    <script src="../controllers/depth.js"></script>
    <script src="../controllers/pagination.js"></script>
    <script src="dialogs.js"></script>
    <script src="levels_display.js"></script>
    <script src="level_display.js"></script>
    <script src="pagination_display.js"></script>
    <script src="row_display.js"></script>
    <script src="col_display.js"></script>
    <script src="depth_display.js"></script>
</body>

</html>
